<section class="signup container">
  <h1 class="entry-title"><span>Create Account</span></h1>
  <hr>
  <form class="form-horizontal" method="post" name="signup" id="signup" [formGroup]="registrationForm"
        (ngSubmit)="createOrUpdate(registrationForm.value)">
    <div class="form-group">
      <label class="control-label col-sm-3">Name <span class="text-danger">*</span></label>
      <div class="col-md-8 col-sm-9">
        <input type="text" class="form-control" formControlName="login" id="login" placeholder="Type login" value="">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Email<span class="text-danger">*</span></label>
      <div class="col-md-8 col-sm-9">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input type="email" class="form-control" formControlName="email" id="email" placeholder="Type email" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Password<span class="text-danger">*</span></label>
      <div class="col-md-5 col-sm-8">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" class="form-control" formControlName="password" id="password"
                 placeholder="Password (5-15 characters)">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Re-password <span class="text-danger">*</span></label>
      <div class="col-md-5 col-sm-8">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" class="form-control" formControlName="reEnteredPassword" id="reEnteredPassword"
                 placeholder="Type password again">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-3 col-xs-10">
        <button name="Submit" type="submit" class="btn btn-primary">
          Sing Up
        </button>
      </div>
    </div>
  </form>
</section>
